# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
venv/
env/
.venv/
*.log

# Environment
*.env

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Docker
pg_data/
